* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    flex-direction: column;
    line-height: 2;
  }

p {
    margin: 1%;
    font-size: 120%;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #000000;
    color: #fff;
  }
  
h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
    justify-content: flex-start;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  display: flex;
}

nav ul {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    min-width: 500px;
    list-style-type: none;
    color: #fff;
  }

nav a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 32px;
  }
  
footer {
    width: 100%;
    padding: 1%;
    text-align: left;
    background: #000000;
    margin-top: auto;
  }

footer a:visited {
    color: white
  }
  
.maincard {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    flex: 1 0 300px;
    margin: 20px;
    
  }

.card, .headshot {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
  }
  
  /* Container needed to position the overlay. Adjust the width as needed */
  /*Based on the examples of container overlays from https://www.w3schools.com/howto/howto_css_image_overlay_title.asp */
.container {
  position: relative;
  width: 20%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  /* background: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1.25;
}